---
import type { HTMLTag, Polymorphic } from "astro/types";
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../layouts/FormattedDate.astro";


const { entry } = Astro.props;

type Props<Tag extends HTMLTag> = Polymorphic<{ as: Tag }> & {
  entry: CollectionEntry<"blog">
	withDesc?: boolean
}

const { as: Tag = "div", withDesc = false } = Astro.props;
const postDate = entry.data.date;

---

<li class='flex flex-col gap-2 sm:flex-row sm:gap-x-4 [&_q]:basis-full'>
	<FormattedDate class='min-w-[120px]' date={postDate} />

	<Tag>
		{entry.data.draft && <span class='text-red-500'>(Draft) </span>}
		<a
			data-astro-prefetch
			href={`/blog/${entry.slug}/`}
			class='transition-all hover:text-muted-foreground'
		>
			{entry.data.title}
		</a>
		{
			withDesc && (
				<p class='line-clamp-3 block text-sm italic text-muted-foreground'>
					{entry.data.title}
				</p>
			)
		}
	</Tag>
</li>

