---
type Props = {
  href: string;
}

const { href } = Astro.props;
---
 

<!-- <a 
  href={href}
  class="relative group w-fit flex items-center space-x-2 transition-colors duration-300 ease-in-out text-gray-600 dark:text-gray-400 hover:text-black dark:hover:text-white">

  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-right"><path d="m9 18 6-6-6-6"/></svg>

  <div class="text-base relative">
    <slot/>
    <span class="absolute bottom-0 left-0 w-full h-[1.5px] bg-transparent group-hover:bg-current transition-all duration-300 ease-in-out"></span>
  </div>
</a> -->

<!-- <a 
  href={href}
  class="relative group w-fit flex items-center space-x-2 transition-colors duration-300 ease-in-out text-gray-400 dark:text-gray-400 hover:text-black dark:hover:text-white">

  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"  class="lucide lucide-chevron-right group-hover:stroke-current text-gray-400 dark:text-gray-400"><path d="m9 18 6-6-6-6"/></svg>

  <div class="text-base relative">
    <slot/>
    <span class="absolute bottom-0 left-0 w-full h-[1.2px] bg-transparent group-hover:bg-current transition-all duration-300 ease-in-out"></span>
  </div>
</a> -->

<a 
  href={href}
  class="relative group w-fit flex items-center space-x-1 transition-colors duration-300 ease-in-out text-gray-400 dark:text-gray-400 hover:text-black dark:hover:text-white">

  <svg 
    xmlns="http://www.w3.org/2000/svg" 
    width="20" 
    height="20" 
    viewBox="0 0 24 24" 
    fill="none" 
    stroke="currentColor" 
    stroke-width="2" 
    stroke-linecap="round" 
    stroke-linejoin="round" 
    class="lucide lucide-chevron-right text-gray-400 dark:text-gray-400">
    <path d="m9 18 6-6-6-6"/>
  </svg>

  <div class="text-base relative flex items-center">
    <slot/>
    <span class="absolute bottom-0 left-0 w-full h-[1.2px] bg-transparent group-hover:bg-current transition-all duration-300 ease-in-out"></span>
  </div>
</a>





