---
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
---

<header style="margin:0; padding:0.8rem; z-index: 100; backdrop-filter: blur(1px); background-color: transparent !important;">
  <Container class="text-black dark:text-white font-mono bg-white/75 dark:bg-[#1f1f1f] bg-white" >
    <div class="flex flex-wrap gap-y-2 justify-between pt-6">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
      <Link href="/" underline={false}>
        <div>
          sajdakabir(dot)me
        </div>
      </Link>
      <nav class="flex gap-1">
        <Link href="/blog" underline={false}>
          blog
        </Link>
  
      </nav>
    </div>
  </Container>
</header>
