---
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
import { SITE } from "@consts";
---

<header>
  <Container >
    <div class="flex flex-wrap gap-y-2 justify-between">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
      <Link href="/" underline={false}>
        <div class="font-semibold">
          {SITE.NAME}
        </div>
      </Link>
      <nav class="flex gap-1">
        <Link href="/blog">
          blogs
        </Link>
        <!-- <span>
          {`/`}
        </span> -->
        <!-- <Link href="/work">
          work
        </Link> -->
        <!-- <span>
          {`/`}
        </span>
        <Link href="/projects">
          projects
        </Link> -->
      </nav>
    </div>
  </Container>
</header>
